/*body>div>p
{
	background-color: green;

}
h3.lef{
	background-color: blue;
}
h2.ra{
	background-color: red;
}*/

/*
p.ra~p
{
	background-color: blue;
}
*/
/*p[class]
{background-color: green;
}
*/
/*p[class*="r"]
{background-color: blue;}*/
/*
p[class$="a"]
{background-color: lightgreen;}
*/
/*
p[class^="r"]
{background-color: lightblue;}
div p:nth-child(even)
{
background-color: lightblue;
}*/
/*
.bgstyle
p{
	text-align: justify;
	text-decoration: none;
	letter-spacing: 10px;
	text-transform: capitalize;
	word-spacing: 3px;
	line-height: 1.5em;
	font-size: 10px;
	font-family: comic sans MS;
	font-weight: bold;
} 
a{
	text-decoration: none;
	background-color: green;
	color: white;
	padding: 5px 10px;
}
h1{
	letter-spacing: 5px;
	text-transform: uppercase;
}*/


.general
{
	font-size: 30px;
}
.a
{
	background-color: green;
	position: absolute;
	top: 00px;
	left: 10px;
	width: 100px;
	height: 1300px;
}
.b
{ 
background-color: blue;
position: absolute;
top: 00px;
left:10px;
width:1400px;
height:100px;

 }
.c 
{ 
	background-color: yellow;
	position: absolute;
   top: -500px;
   left:10px;
   width: 1400px;
   height: 100px;

 }